@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.navbar{
    background: linear-gradient(to left, #aa076b, #61045f);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

h1{
    color: white;
}
h2{
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

button{
    margin-left: 10px;
}

table{
    margin-top: 20px;
}

img{
    width: 50px;
    height: 50px;
}

.search-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    
}